<div class="summary" id="summary-section">
  <h2>Summary</h2>
  <ul>
    <li><strong>Programming:</strong> C#, DotNet Core, ASP, ASP.NET, ASP MVC, Angular 2+, Angular JS, JavaScript, JQuery, Java for Android, Swift and Objective-C for iOS, PHP</li>
    <li><strong>Database:</strong> MSSQL, MySQL, SQLLite, PostgreSQL, ElasticSearch</li>
    <li><strong>Tools:</strong> Azure DevOps, GIT, GitHub, GitLab, Bitbucket, TFS</li>
    <li><strong>Development:</strong> Object-Oriented Design, Technical Documentation, Quality Assurance</li>
    <li><strong>CI/CD Pipelines:</strong> Configuration of CI/CD Pipelines</li>
    <li><strong>Scripting:</strong> PowerShell, Python, Bash</li>
    <li><strong>Log Management:</strong> Experience with centralized log management - ELK, Splunk, Azure App Insights, Datadog</li>
    <li><strong>Monitoring:</strong> Experience with monitoring tools such as Zabbix, Nagios, etc.</li>
    <li><strong>Team Management:</strong> Team management skills</li>
    <li><strong>Experience:</strong> Over 15+ years of experience in developing and leading enterprise application development</li>
    <li>Leading, Analysis, Design, Development, Testing of desktop & web (client-server) multi-tier applications</li>
    <li><strong>Technical Expertise (Windows):</strong> Technical expertise in Windows systems management</li>
    <li><strong>Technical Expertise (Linux):</strong> Linux systems management - Red Hat Enterprise Linux, CentOS, and Ubuntu</li>
    <li><strong>Cloud:</strong> Working with Cloud (Azure, AWS, or similar)</li>
  </ul>
</div>
