<div class="education" id="education-section">
  <h2>Education</h2>

  <div class="education-item">
    <h3>Business school KROK</h3>
    <p><strong>Location:</strong> Kyiv, Ukraine</p>
    <p><strong>Year:</strong> 2013</p>
    <p>mMBA business management</p>
  </div>

  <div class="education-item">
    <h3>Kirovohrad National Technical University</h3>
    <p><strong>Location:</strong> Kropyvnytskyi (Kirovohrad), Ukraine</p>
    <p><strong>Year:</strong> 2001</p>
    <p>System programmer, FAEP Specialist’s degree</p>
  </div>

  <div class="education-item">
    <h3>Kirovohrad Cybernetic and Technical College</h3>
    <p><strong>Location:</strong> Kropyvnytskyi (Kirovohrad), Ukraine</p>
    <p><strong>Year:</strong> 1999</p>
    <p>Programmer engineering specialist, Junior Specialist</p>
  </div>
</div>
