<div id="contacts-section">
  <h2>{{ 'contacts_component.name' | translate}}</h2>
  <p><strong>{{ 'contacts_component.full_name' | translate}}: </strong> {{ 'contacts.full_name' | translate}}</p>
  <p><strong>{{ 'contacts_component.date_of_birth' | translate}}: </strong> {{ 'contacts.date_of_birth' | translate | localeDate }} ({{ 'contacts.date_of_birth' | translate | ageCalculator }})</p>
  <p><strong>{{ 'contacts_component.phone' | translate}}: </strong> {{ 'contacts.phone' | translate }}</p>
  <p><strong>{{ 'contacts_component.email' | translate}}: </strong> <a href="mailto:{{ 'contacts.email' | translate }}">{{ 'contacts.email' | translate }}</a></p>
  <p><strong>{{ 'contacts_component.location' | translate}}: </strong> {{ 'contacts.location' | translate }}</p>
</div>
